---
import BaseHead from "../../components/BaseHead.astro";
import Page from "../../components/Page.astro";
import FileList from "../../components/FileList.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import type { ContentEntryMap } from "astro:content";

export async function getStaticPaths() {
  return [
    { params: { collection: "posts" } }
  ];
}

const { collection } = Astro.params;

const posts: any[] = (
  await getCollection(collection as keyof ContentEntryMap)
).sort((a: any, b: any) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Page>
      <section>
        <FileList
          items={posts.map((post) => ({
            href: `/${collection}/${post.slug}`,
            type: "file",
            title: post.data.title,
            createdAt: post.data.pubDate,
          }))}
        />
      </section>
    </Page>
  </body>
</html>
