---
import BaseHead from "../../components/BaseHead.astro";
import Page from "../../components/Page.astro";
import FileList from "../../components/FileList.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  return [
    { params: { collection: "dev" } },
    { params: { collection: "thoughts" } },
    { params: { collection: "product-reviews" } },
  ];
}

const { collection } = Astro.params;

const dev = (await getCollection(collection)).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Page>
      <section>
        <FileList
          items={dev.map((post) => ({
            href: `/${collection}/${post.slug}`,
            title: post.data.title,
            createdAt: post.data.pubDate,
          }))}
        />
      </section>
    </Page>
  </body>
</html>
