---
import BaseHead from '../../components/BaseHead.astro';
import Page from '../../components/Page.astro';
import FileList from '../../components/FileList.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';

const posts = (await getCollection('posts')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
    <Page>
			<section class="w-[1024px]">
					<FileList items={posts.map((post) => ({
							href: `posts/${post.slug}`,
							title: post.data.title,
							createdAt: post.data.pubDate,
							}))} />
			</section>
    </Page>
	</body>
</html>
