@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-accent {
    @apply text-[#8a00ae] dark:text-[#d99cce];
  }

  .section-text {
    @apply text-[#383838] dark:text-[#bebebe];
  }

  ._border {
    @apply border-solid border-[#b2afab] dark:border-[#2e2933];
  }

  .bg-secondary {
    @apply bg-[#bbbbbb] dark:bg-[#1f1f1f];
  }
}

body {
  @apply bg-[#ececec] dark:bg-[#202020] max-w-[840px] mx-auto pb-32;
}

* {
  @apply dark:text-[#a9a9a9] text-[#4c4c4c];
}

article p {
  text-align: justify;
}

article a {
  @apply text-accent hover:underline;
}

article hr {
  @apply mb-4;
}

article h1 {
  @apply font-bold text-3xl mt-2 mb-4 section-text;
}

article h2 {
  @apply font-bold text-2xl mt-6 mb-2 section-text;
}

article h3 {
  @apply font-bold text-xl mt-6 mb-2 section-text;
}

article ul,
ol {
  @apply mb-2;
}

article ul li {
  @apply list-disc list-inside pl-4 marker:text-accent;
}

article ol li {
  @apply list-decimal list-inside pl-4;
}

article pre {
  @apply rounded-xl px-4 py-3 my-3 bg-[#202020];
}

article hr {
  @apply border-base-200 dark:border-base-700;
}

article p {
  @apply mb-2;
}

article {
  @apply text-lg;
}

article a em {
  @apply text-current;
}

*::selection {
  @apply bg-[#3600c020] dark:bg-[#a390ff20];
}

.aboutme {
  @apply font-mono mb-4;
}

.aboutme p,
.aboutme ul,
.aboutme ol {
  @apply mb-2;
}

.aboutme ul li {
  @apply list-disc list-inside;
}

.aboutme ol li {
  @apply list-decimal list-inside;
}

.astro-code,
.astro-code span {
  background-color: #e0e0e0 !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }

  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: #171717 !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}
