@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* ACCENT */
  .text-accent {
    @apply text-[#268BD2] dark:text-[#268BD2];
  }

  /* FG2 */
  .section-text {
    @apply text-[#657B83] dark:text-[#839496];
  }
}

@font-face {
  font-family: "Source Code Pro";
  src: url("/fonts/source-code-pro/SourceCodePro-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("/fonts/source-code-pro/SourceCodePro-Italic.ttf") format("ttf");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("/fonts/source-code-pro/SourceCodePro-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* BG */
body {
  @apply bg-[#FDF6E3] dark:bg-[#002B36] max-w-[840px] mx-auto pb-32;
}

/* FG */
* {
  @apply text-[#657B83] dark:text-[#839496];
}

hr {
  @apply border-[#657B83]/20;
}

article p {
  text-align: justify;
}

article a {
  @apply text-accent hover:underline;
}

article hr {
  @apply mb-4;
}

article h1 {
  @apply font-bold text-3xl mt-2 mb-4 section-text;
}

article h2 {
  @apply font-bold text-2xl mt-6 mb-2 section-text;
}

article h3 {
  @apply font-bold text-xl mt-6 mb-2 section-text;
}

article ul,
ol {
  @apply mb-2;
}

article ul li {
  @apply list-disc list-inside pl-4 marker:text-accent;
}

article ol li {
  @apply list-decimal list-inside pl-4;
}

article pre {
  @apply rounded-md px-4 py-3 my-3 bg-[#002b36] border border-solid border-[#657B8360];
}

article hr {
  @apply border-base-200 dark:border-base-700;
}

article p {
  @apply mb-2;
}

article {
  @apply text-lg;
}

article table {
  @apply text-sm md:text-base font-mono border border-solid border-[#657B83]/30;
}

article table th {
  @apply p-0;
}

article table tr {
  @apply even:bg-[#657B83]/5;
}

article table tr td {
  @apply border-b border-solid border-b-[#657B83]/30;
}

article table td {
  @apply border-r border-solid border-[#657B83]/30 py-1 px-2;
}

article a em {
  @apply text-current;
}

*::selection {
  @apply bg-[#268BD220] dark:bg-[#268BD220];
}

.aboutme {
  @apply font-mono mb-4;
}

.aboutme p,
.aboutme ul,
.aboutme ol {
  @apply mb-2;
}

.aboutme ul li {
  @apply list-disc list-inside;
}

.aboutme ol li {
  @apply list-decimal list-inside;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }

  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-background) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}
