---
import BaseHead from '../components/BaseHead.astro';
import FileList from '../components/FileList.astro';
import Page from '../components/Page.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { collections } from '../content/config';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
        <Page>
                <p class="bg-base-100 dark:bg-base-900 border border-solid border-base-200 dark:border-base-600 p-3">
                        This is a about me thing
                </p>
            <FileList items={Object.keys(collections).map((c) => ({
                href: c,
                title: c,
                }))} />
        </Page>
	</body>
</html>
