---
import BaseHead from '../components/BaseHead.astro';
import FileList from '../components/FileList.astro';
import Page from '../components/Page.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { collections } from '../content/config';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
        <Page>
                <p class="bg-gray-100 border border-solid border-gray-200 rounded-md p-4">
                        This is a about me thing
                </p>
            <FileList items={Object.keys(collections).map((c) => ({
                href: c,
                title: c,
                }))} />
        </Page>
	</body>
</html>
