---
import Link from "./Link.astro";
---

<section class="aboutme">
  <p>
    <b> Hi! I'm Vítor (aka owozsh), welcome to my space. </b>
  </p>
  <p>
    I'm a Software Engineer at <Link to="https://runrun.it/">Runrun.it</Link>,
    living in Rio de Janeiro, BR.<br />
    Here you may find a lot of random thoughts, (book/movie/game) reviews, some posts
    about web development, design, and tech in general.
  </p>
  <p>
    <b>Now</b>
  </p>
  <ul>
    <li>Working on this blog</li>
    <li>Rewriting my theme engine from Python to Rust</li>
    <li>Playing The Legend of Zelda: Ocarina of Time</li>
    <li>
      Reading <em>1Q84</em> by <em>Haruki Murakami</em>
    </li>
  </ul>
  <Link to="https://github.com/owozsh">GitHub</Link><br />
  <Link to="/dev/about-this-blog" replace>About this Blog</Link><br />
  <Link to="/setup" replace>What I use, 2024</Link><br />
</section>
