---
import Link from "./Link.astro";
---

<section class="aboutme">
  <p>
    <b> Hi! I'm Vítor, welcome to my space. </b>
  </p>
  <p>
    I'm a Software Engineer at <Link to="https://runrun.it/">Runrun.it</Link>,
    living in Rio de Janeiro, Brazil.<br />
  </p>
  <p>
    <b>Now</b>
  </p>
  <ul>
    <li>Learning Rust throught <Link to="https://doc.rust-lang.org/book/">The Rust Programming Language</Link> book</li>
    <li>Playing <Link to="https://en.bandainamcoent.eu/elden-ring/elden-ring">Elden Ring</Link></li>
    <li>
      Reading <Link to="https://www.goodreads.com/book/show/60879779-everyone-in-my-family-has-killed-someone">Everyone in My Family Has Killed Someone</Link>
    </li>
  </ul>
  <Link to="https://github.com/owozsh">GitHub</Link><br />
  <Link to="/posts/about-this-blog" replace>About this Blog</Link><br />
  <Link to="/setup" replace>What I use, 2024</Link><br />
</section>
