---
import FormattedDate from "./FormattedDate.astro";
import Link from "./Link.astro";

interface Props {
  items: Array<{
    href: string;
    title: string;
    type: "file" | "dir";
    createdAt?: Date;
    previewUrl?: string;
  }>;
}

const { items } = Astro.props;
---

<ul class="text-lg flex flex-col overflow-hidden">
  {
    items.length > 0 ? (
      items.map(({ href, title, createdAt, type }) => (
          <li
            class="group flex flex-col md:flex-row md:items-center justify-between py-1"
          >
              <Link replace to={href}>
                  {`${title}${type === "dir" ? "/" : ""}`}
              </Link>
                {createdAt ? <FormattedDate date={createdAt} /> : null}
          </li>
      ))
    ) : (
      <li class="p-4 italic text-center">Writing...</li>
    )
  }
</ul>
