---
interface Props {
    items: Array<{
        href: string;
        title: string;
        createdAt?: Date;
        previewUrl?: string;
        }>;
}

const { items } = Astro.props;
---

<ul class=" border border-solid border-base-200 dark:border-base-800 flex flex-col overflow-hidden">
    {
        items.map(({href, title}) => (
            <li class="even:bg-base-100 dark:even:bg-base-900 border-b border-solid border-b-base-200 dark:border-base-800 last:border-b-0">
                <a class="flex p-3 hover:text-accent hover:bg-base-100 dark:hover:bg-base-900 transition-colors" href={href}>
                    <h4 class="text-current">{title}</h4>
                </a>
            </li>
        ))
    }
</ul>
