---
import FormattedDate from "./FormattedDate.astro";

interface Props {
  items: Array<{
    href: string;
    title: string;
    type: "file" | "dir";
    createdAt?: Date;
    previewUrl?: string;
  }>;
}

const { items } = Astro.props;
---

<ul class="font-mono flex flex-col overflow-hidden border border-[#657B83]/30">
  {
    items.length > 0 ? (
      items.map(({ href, title, createdAt, type }) => (
        <li class="border-b border-[#657B83]/30 last:border-0 even:bg-[#657B83]/5">
          <a
            class="group flex flex-col md:flex-row md:items-center justify-between py-1 px-2"
            href={href}
          >
            <p class="group-hover:underline group-hover:text-accent">
              {`${title}${type === "dir" ? "/" : ""}`}
            </p>
            {createdAt ? <FormattedDate date={createdAt} /> : null}
          </a>
        </li>
      ))
    ) : (
      <li class="p-4 italic text-center">Writing...</li>
    )
  }
</ul>
