---
import { SITE_TITLE } from '../consts';

const { pathname } = Astro.url;

const pathItems: Record<string, string> = pathname.split('/').filter((item) => item.length > 0).reduce((acc, curr) => ({
        ...acc,
        [curr]: [...Object.keys(acc), curr].join('/').substring(1)
    }), {".": "/"})

const isLastPathItem = (i: number) => i === Object.keys(pathItems).length - 1

console.log(pathItems)
console.log(pathname)
---

<header class="flex flex-col max-w-[1024px] mx-auto py-4 md:py-8 px-4 gap-2 md:gap-4">
    <h2 class="font-bold text-red-800">{SITE_TITLE}</h2>
	<nav>
        <ul class="flex">
            {Object.keys(pathItems).map((key, i) => (
            <li class="flex">
                <a href={pathItems[key]} class:list={["px-2 hover:underline", { active: isLastPathItem(i) }]}>
                    {key}{isLastPathItem(i) ? '' : '/'}
                </a>
            </li>
            ))}
        </ul>
	</nav>
</header>
<style>
    a.active {
        @apply font-bold text-red-800;
    }
</style>
