---
import { SITE_TITLE } from '../consts';
import Path from './Path.astro';
---

<header class="font-mono flex flex-col mx-auto py-4 md:py-12 px-4 gap-2">
    <h2 class="text-base m-0 font-bold text-accent"><a href="/">{SITE_TITLE}</a></h2>
    <Path/>
</header>