---
type HomeTabs = 'recent' | 'navigate'

interface Props {
  active: HomeTabs
}

const tabs = {
  recent: "/",
  navigate: 'navigate'
}

const {active} = Astro.props
---

<ul class="font-mono flex items-center gap-4 border-b border-b-base-200">
  {Object.keys(tabs).map((tab) => (
    <li class="flex">
      <a href={tabs[tab as HomeTabs]} class:list={["p-2", tab === active ? 'text-accent-700 border-b-2 border-b-accent-700' : '']}>
        {tab}
      </a>
    </li>
  ))}
</ul>