---
const { pathname } = Astro.url;

const pathItems: Record<string, string> = pathname
  .split("/")
  .filter((item) => item.length > 0)
  .reduce(
    (acc, curr) => ({
      ...acc,
      [curr]: [...Object.keys(acc), curr].join("/").substring(1),
    }),
    { ".": "/" },
  );

const isLastPathItem = (i: number) => i === Object.keys(pathItems).length - 1;
---

<nav>
  <ul class="flex">
    {
      Object.keys(pathItems).map((key, i) => (
        <li class="flex">
          <a
            href={`${pathItems[key]}`}
            class:list={[
              "pr-2 hover:underline",
              isLastPathItem(i) ? "font-bold text-accent" : "",
            ]}
          >
            {key}
            {isLastPathItem(i) ? "" : "/"}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
