---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Page from "../components/Page.astro";
import FormattedDate from "../components/FormattedDate.astro";

const { title, pubDate, updatedDate, frontmatter } = Astro.props;

console.log(Astro.props);
---

<html lang="en">
  <head>
    <BaseHead title={title ?? frontmatter.title} description="" />
  </head>
  <body>
    <Page>
      <article>
        <div class="prose">
          <div class="title">
            <div class="date">
              <FormattedDate date={pubDate ?? new Date(frontmatter.pubDate)} />
              {
                updatedDate && (
                  <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
            <h1>{title ?? frontmatter.title}</h1>
          </div>
          <slot />
        </div>
      </article>
    </Page>
  </body>
</html>
